@import "twitter/bootstrap";

.container {
  max-width: 700px;
}
.sign-in-out {
  position: relative;
  top: 38px;
}

#header {
  padding: 0;
}

/* posts */
.post-avatar {
  position: relative;
  top: -21px;
  right: -10px;

  img {
    border-radius: 3px;
  }
}
.new-post {
  margin-bottom: 10px;
}

/* Bootstrap Overrides */
.lead {
  font-size: 18px;
}
.navbar-bottom {
    margin-bottom: 0;
    margin-top: 40px;
}